/* As elm-css doesn't have support for CSS Grid, these styles still 
   have to be written in CSS.
*/

body {
    height: 100vh;
    display: grid;
    grid-gap: 20px 0;
    gap: 20px 0;
    grid-template-columns: minmax(1fr, 100vw);
    grid-template-rows: 64px auto 64px;
    grid-template-areas:
        "navigation"
        "content"
        "footer"
}

.content {
    grid-area: content;
}


.navigation {
    grid-area: navigation;
}

.footer {
    grid-area: footer;
}

.sidebar {
    display: none;
}

.sidebar2 {
    display: none;
}

@media only screen and (min-width: 801px) {
    body {
        grid-template-rows: 64px 1fr 64px;
        grid-template-columns: 1fr minmax(400px, 801px) 1fr;
        grid-template-areas:
            "navigation navigation navigation"
            "sidebar     content    sidebar2"
            "footer      footer     footer";
    }

    .sidebar {
        grid-area: sidebar;
        display: block;
    }

    .sidebar2 {
        grid-area: sidebar2;
        display: block;
    }
}
